:root {
  --accent: #ee442f;
  --link: #219ebc;
  --hover: #8ecae6;
  --whiteish: #e5e5e5;
}

body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--accent);
}

button,
button:visited {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: var(--accent);
  border-radius: 4px;
  padding: 12px 36px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover,
button:active {
  background-color: var(--link);
}

.choices button {
  display: block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  color: black;
  background-color: var(--whiteish);
  border-radius: 4px;
  padding: 4px 12px;
  border: 0;
  transition: background-color 0.1s;
}

.choices button:hover {
  background-color: var(--hover);
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.responded {
  color: lightslategray;
}

.feedback {
  font-style: italic;
  font-weight: 400;
  margin-top: 64px;
  padding-top: 8px;
  color: #1d3557;
  border-top: 1px solid #1d3557;
}

.final-score {
  color: var(--accent);
  font-size: 24px;
  font-weight: 700;
  padding-left: 12px;
}

.final-score-msg {
  margin-bottom: 4rem;
}

#msg {
  visibility: hidden;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: var(--link);
}

#msg.error {
  color: var(--accent);
}
